.space-below {
  margin-bottom: 20px;
}

.space-below-small {
  margin-bottom: 5px;
}

.space-below-large {
  margin-bottom: 30px;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.content {
  padding: 2em;
  background-color: rgb(208,136,19, 0.3);
}

.navbar-light .navbar-nav .selected {
  color: black;
}

.navbar-brand {
  color: #000000 !important;
}
